.category-container {
  margin: 20px 0 5px 0;

  .category-title{
    font-size: 24px;
    font-weight: bold;
  }
  
  .item-container {
    display: flex;
    overflow: scroll;
  }
}

@media(max-width: 1199px) {
  .item-container {
    width: 100vw;
    position: relative;
    left: -30px;
    padding: 0 20px;
  }
}