ion-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 38px;

  div {
    //float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ion-icon {
    margin: 5px;
  }

  img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}