.breadcrumb-trail {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: 25px;

  .breadcrumb-item {
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      color: #73b85e;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }

    &:last-of-type {
      font-weight: bold;
    }

    &:before {
      position: relative;
      bottom: 2px;
      content: '>';
      margin-right: 5px;
      color: #7f7f7f;
      font-weight: normal;
    }
  }
}