.breadcrumb-trail {
  display: flex;
  align-content: center;
  justify-content: flex-start;

  .breadcrumb-item {
    margin-right: 5px;

    &:hover {
      cursor: pointer;
      color: #73b85e;
    }

    &:first-of-type {
      &:before {
        content: "";
      }
    }

    &:before {
      content: ">";
      margin-right: 5px;
      color: initial !important;
    }
  }


}