.favorites-container {
  padding: 10px;
}

.favorite-item-container {
  display: flex;
  align-items: center;
  height: 50px;

  den-favorite-item {
    margin-left: 5px;
    width: 100%;
  }
}

.favorites-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  text-transform: uppercase;
  color: #333;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 5px;
  }
}

.heart {
  color: #ff4d4d;
}

.empty-message {
  text-align: center;
  color: #7f7f7f;
  padding: 10px;
}