<div class="favorites-container">
  <div class="side-panel-title">
    <ion-icon class="heart" name="heart"></ion-icon>
    Favorites
  </div>
  <div class="empty-message" *ngIf="items && items.length === 0">
    Add something to your favorites by clicking the heart next to any item.
  </div>
  <ion-reorder-group (ionItemReorder)="reorderItem($event)" [disabled]="false">
    <div class="favorite-item-container" *ngFor="let item of items">
      <ion-reorder>
        <ion-icon name="md-list"></ion-icon>
      </ion-reorder>
      <den-favorite-item [item]="item"></den-favorite-item>
    </div>
  </ion-reorder-group>
</div>
