  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="item">{{item.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="item">
      <div>
        <img src="{{item.iconUrl}}"/>
      </div>
      <div *ngIf="item.description">{{item.description}}</div>
      <div *ngIf="!item.description">No description provided</div>
      <div class="chat">
        <div class="message" *ngFor="let message of item.messages">
          <den-message [message]="message"></den-message>
        </div>
      </div>
      <ion-input type="text" placeholder="add your message here"></ion-input>
    </div>

  </ion-content>



