  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="item">{{item.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="detai-page-container" *ngIf="item">
      <div class="image-container">
        <img src="{{item.iconUrl}}"/>
      </div>
      <div class="description" *ngIf="item.description">{{item.description}}</div>
      <div *ngIf="!item.description">No description provided</div>
      <div class="chat">
        <div class="message" *ngFor="let message of messages">
          <den-message [message]="message"></den-message>
        </div>
      </div>
      <input [(ngModel)]="newMessage" type="text" placeholder="Add your message here">
      <ion-button color="primary" (click)="addMessage()" [disabled]="!canAddMessage()">
        Submit
      </ion-button>
    </div>

  </ion-content>



