// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.side-panel-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  text-transform: uppercase;
  color: #333;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 5px;
  }
}