// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


//// GLOBAL ////

ion-fab-button .button-inner {
  background: #73b85e !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-message {
  text-align: center;
  color: #7f7f7f;
  padding: 10px;
}

.side-panel-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  text-transform: uppercase;
  color: #333;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 5px;
  }
}

label {
  margin-bottom: 8px;
  width: 100%;
  color: #7f7f7f;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #ccc;
}

@media(max-width: 1199px) {
  .side-panel-title {
    display: none !important;
  }
}


//// OVERRIDES ////

ion-card.ios {
  margin: 10px;
}

// no scrollbars!
.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }
