ion-title {
  cursor: pointer;

  img {
    width: 26px;
    height: 26px;
    margin-right: 6px;
  }
  span {
    bottom: 4px;
    position: relative;
  }
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;

  den-favorites-list,
  den-activity-list {
    min-width: 200px;
    width: 300px;
  }
}

@media(min-width: 1200px) {
  .ion-tabs {
    display: none;
  }
}

@media(max-width: 1199px) {
  ion-fab {
    margin-bottom: 60px;
  }

  den-page,
  den-favorites-list,
  den-activity-list {
    width: 100% !important;

    &:not(.active) {
      display: none;
    }
  }

  ion-tab-button {
    color: #7f7f7f;

    ion-badge {
      color: #fff;
    }

    &.active {
      background: #eee;
      color: #3880ff;
    }
  }

  .ion-tabs {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .home-container {
    margin-bottom: 50px;
  }
}