<ion-header>
  <ion-toolbar>
    <ion-title>
      Relian Den
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <den-favorites-list></den-favorites-list>
    <den-page
      [page]="currentPage">
    </den-page>
    <den-activity-list></den-activity-list>
  </div>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
