ion-title {
  cursor: pointer;
  padding: 0;

  img {
    position: relative;
    top: 2px;
    margin-left: 10px;
    height: 35px;
  }
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;

  den-favorites-list,
  den-activity-list {
    min-width: 200px;
    width: 300px;
  }
}

@media(max-width: 450px) {
  ion-title.title-ios img {
    height: 24px;
  }
}

@media(max-width: 1199px) {
  ion-fab {
    margin-bottom: 60px;
  }

  den-page,
  den-favorites-list,
  den-activity-list {
    width: 100% !important;

    &:not(.active) {
      display: none;
    }
  }

  .side-panel-title {
    display: none !important;
  }

  ion-tab-button {
    ion-badge {
      color: #fff;
    }

    ion-icon {
      font-size: 30px;
    }

    &.active {
      background: #eee;
    }
  }

  .ion-tabs {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .home-container {
    margin-bottom: 80px;
  }
}

@media(min-width: 1200px) {
  .ion-tabs {
    display: none;
  }

  den-page {
    width: 800px;
  }
}

@media(min-width: 1400px) {
  den-page {
    width: 1000px;
  }
}