<ion-header>
  <ion-toolbar>
    <ion-title>Add Item Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- choose the type -->
  <ion-segment [value]="newItem.type.title">
    <ion-segment-button [value]="type.title" *ngFor="let type of itemTypes" (click)="selectType(type)">
      <ion-label>{{ type.title }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- type description -->
  <p class="description-container">
    {{ newItem.type.description }}
  </p>

  <!-- choose the size -->
  <div class="size-container">
    <ion-label>Size</ion-label>
  </div>

  <!-- title -->
  <div class="modal-input">
    <label>Title</label>
    <input type="text" [(ngModel)]="newItem.title" placeholder="Cool Thing">
  </div>

  <!-- link -->
  <div class="modal-input">
    <label>Link</label>
    <input type="text" [(ngModel)]="newItem.url" placeholder="https://link.to/cool/thing">
  </div>

  <!-- icon url -->
  <div class="modal-input">
    <label>Icon Url</label>
    <input type="text" [(ngModel)]="newItem.iconUrl" placeholder="https://imgur.com/cool-icon-128">
  </div>

  <ion-button (click)="addItem()">Add</ion-button>

</ion-content>
